<app-navbar></app-navbar>


<br />
<br />
<br />
<br />
<br />



<form [formGroup]="getByIdBookForm" (ngSubmit)="getByIdBook()" class="form-control" action="/action_page.php">
  <div class="form-group">
    <label for="title">Id</label>
    <input type="text" class="form-control" id="id" required name="id" formControlName="id" />
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-dark btn-block" value="Get By Id">
  </div>

</form>


<table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Author</th>
      <th>NumberOfPages</th>
      <th>PublishedAt</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{book.id}}</td>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.numberOfPages}}</td>
      <td>{{book.publishedAt | date: 'yyyy-MM-dd' }}</td>
    </tr>
  </tbody>
</table>
