body {
  color: #fff;
  font-size: 100pt;
}

.section1 {
  background-color: #2ca3e9;
  width: 50%;
  float: left;
  height: 50%;
  border-right: 1vw solid #F5E5D6;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.section3{
  background-color: #8bf1fb;
  width: 50%;
  float: left;
  height: 50%;
  border-right: 1vw solid #F5E5D6;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.section5 {
  background-color: #6590f7;
  width: 50%;
  float: left;
  height: 50%;
  border-right: 1vw solid #F5E5D6;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.section2 {
  background-color: #f1fab4;
  width: 50%;
  float: left;
  height: 50%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section4 {
  background-color: #fee9f4;
  width: 50%;
  float: left;
  height: 50%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
